<h3>EDIT TODO</h3>

<div class="start-page-wrapper">
  <div class="single-todo-container">
    <div class="todo-single-information">
      <h3>Todo details</h3>
      <h5>Posted on: </h5>
      <li>{{created}}</li>
      <h5>What todo:</h5>
      <li>{{description}}</li>
      {{#if done}}
        <h4 class="status-checked">STATUS: CHECKED</h4>
      {{else}}
        <h4 class="status-unchecked">STATUS: UNCHECKED</h4>{{/if}}
    </div>

    <form action="/todos/{{id}}/update-todo" method="post">
      <h3>Edit todo: </h3>
      <div class="update-todo-container">
        <textarea
          name="description"
          class="add-todo-textarea"
        >{{description}}</textarea>

        <input type="submit" class="add-todo-submit" value="UPDATE" />
      </div>
    </form>
  </div>
</div>